.footer {
  width: 100%;
  background-color: #121619;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  color: white;
}

.socialMedia {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.socialMedia svg {
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s;
}

.socialMedia svg:hover {
  color: #888;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
